<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/meta-head"/>
</head>
<body>
<div class="container-scroller">
    <th:block th:replace="layout/left-side-bar"/>
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="layout/header"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Basic Tables </h3>
                </div>
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-dark">
                                        <thead>
                                        <tr>
                                            <th> #</th>
                                            <th> Name</th>
                                            <th> Email</th>
                                            <th> Address</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="row,rowStat : ${customers}">
                                            <td th:text="${row.getId()}"></td>
                                            <td th:text="${row.getName()}"></td>
                                            <td th:text="${row.getEmail()}"></td>
                                            <td th:text="${row.getAddress()}"></td>
                                            <td><a th:href="@{/customer/{id}/edit(id=${row.getId()})}"><i
                                                    class="fa-solid fa-user-pen"></i></a>
                                                <a th:href="@{/customer/{id}/delete(id=${row.getId()})}"><i
                                                        class="fa-solid fa-circle-minus"></i></a>
                                                <a th:href="@{/customer/{id}/view(id=${row.getId()})}"><i
                                                        class="fa-sharp fa-solid fa-eye"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<th:block th:replace="layout/script"/>
</body>
</html>